.rainbow {
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: rainbowMove 5s linear infinite;
}

@keyframes rainbowMove {
  0% { background-position: 0% }
  100% { background-position: 100% }
}

*{
    margin: 0;
    padding: 0;
}











body {
  background-image: url("../fondo/e4e7d819f6e3eb4a057902ca8f161068.gif");
  background-size: cover;
  animation: moverFondo 10s linear infinite;
}

@keyframes moverFondo {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}


#TITULO{
    text-align: center;
    color: rgb(135, 75, 75);
    font-size: 50px;
    margin-bottom: 20px;
}
#contenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr)/*Divide 3 columnas*/;
    gap: 10px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(35, 111, 58);
}



.espacio{
    height: 300px;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(110, 66, 192);
    border-radius: 15px;
}


#lado{
    width: 50%;
}
#iva{
    width: 13%;
}
#numerodosdigitos{
    width: 42%;
}
#papas{
width: 45%   
}
#huevitos{
width: 43%
}
#lacebolla{
width: 42%
}
#salida{
    width: 82%;
}
#factorial{
    width: 40%;
}

#resultadoN2{
    width: 60%;
}
#a{
    width: 15%;
}
#b{
    width: 10%;
}
#c{
    width: 10%;
}
#n1{
    width: 20%;
}
#n2{
    width: 20%;
}